
<html>
    <head>
        <title>Merchex</title>
    </head>
    <body>
        {% extends 'listings/base.html' %}

        {% block content %}
       
        <h1 class="fw-italic">Mets</h1>
        <a href="{% url 'band-create' %}">Créer un nouveau mets</a>

            <ul>
                {% for band in bands %}
                <li>
                    <a href="{% url 'band-detail' band.id %}">{{ band.name }}</a>
                   - <a href="{% url 'band-update' band.id %}">[modifier]</a>
                   - <a href="{% url 'band-delete' band.id %}">[supprimer]</a>

                </li>
            {% endfor %}
        </ul>
        {% endblock %}
            
    </body>
</html>